@model BattleBands.Models.ApplicationModels.ApplicationComment

@{
    ViewData["Title"] = "Edit comment";
}

<environment names="Development">
    <link rel="stylesheet" href="~/css/Comment/Index.css" />
</environment>

<form asp-controller="Comment" asp-action="EditComment" method="post">
    <label for="@Model.Body">Enter your comment</label> <br />
    <textarea asp-for="@Model.Body"> </textarea>
    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    <input type="hidden" asp-for="@Model.Time" value=@Model.Time />
    <input type="hidden" asp-for="@Model.OwnerId" value="@Model.OwnerId" />
    <input type="hidden" asp-for="@Model.DestinationId" value="@Model.DestinationId" />
    <input class="button" type="submit" value="Send">
</form>