@model IEnumerable<BattleBands.Models.ApplicationPerformer>

@{
    ViewBag.Title = "List of performers";
}

@{
    ViewData["Title"] = "Виконавці";
}

<h3>Наші виконавці!</h3>

@using (Html.BeginForm("SearchByName", "Performer"))
{
    <input type="text" placeholder="Iм’я виконавця" name="@Html.Raw("name")">
    <input type="submit" value="Пошук">
}
<br />
<a asp-controller="Performer" asp-action="CreatePerformer" class="btn btn-default">Новий виконавець</a>
<a asp-controller="Performer" asp-action="MyPerformers" class="btn btn-default">Мої виконавці</a>
<div class="row">
    <div class="col-md-8">
        <section>
            <table class="table">
                @foreach (var band in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="ProfilePerformer" asp-route-id="@band.PerformerId">@band.PerformerName</a><br />
                            <b>Email - @band.PerformerEmail</b><br />
                            <b>Телефон - @band.PerformerPhone</b><br />
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-controller="Performer" asp-action="DeletePerformer" asp-route-id="@band.PerformerId"class="btn btn-default">Видалити</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </section>
    </div>
</div>