@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BattleBands.Models.ApplicationPerformer>
@{
    ViewBag.Title = "List of performers";
}
@{
    ViewData["Title"] = "Виконавці";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Наші виконавці!</h2>

<a asp-controller="Performer" asp-action="CreatePerformer" class="btn btn-default">Новий виконавець</a>
<a asp-controller="Performer" asp-action="MyPerformers" class="btn btn-default">Мої виконавці</a>
<div class="row">
    <div class="col-md-8">
        <section>
            <table class="table">
                @foreach (var band in Model)
                {
                    <tr>
                        <td>
                                <a asp-action="ProfilePerformer" asp-route-id="@band.PerformerId">@band.PerformerName</a><br />
                                <b>Email - @band.PerformerEmail</b><br />
                                <b>Телефон - @band.PerformerPhone</b><br />
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-controller="Performer" asp-action="DeletePerformer" asp-route-id="@band.PerformerId"class="btn btn-default">Видалити</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </section>
    </div>
</div>