@model BattleBands.Models.ViewModels.PerformerViewModels.PerformerProfileViewModel
@{
    ViewData["Title"] = Model.Performer.PerformerName;
}
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Performer/ProfilePerformer.css" />
    </environment>
</head>

<body>
    <h1>@Model.Performer.PerformerName</h1>
    <br />

    <a asp-controller="Picture" asp-action="AddLogo" asp-route-id="@Model.Performer.PerformerId" class="myButton">Upload logo</a>
    <br />
    @if (Url.Content(Model.Picture.Path) != null)
    {
        <p><img src="@Url.Content(Model.Picture.Path)" height="350" width="350"></p><br />
        <a asp-controller="Picture" asp-action="RemoveLogo" asp-route-id="@Model.Picture.Id" class="btn btn-default">Remove logo</a><br />

    }

    <label>Genre/style:</label>
    <br />
    <p class="text">@Model.Performer.PerformerGenre</p>
    <br />
    <label>Emali:</label>
    <br />
    <p class="text">@Model.Performer.PerformerEmail</p>
    <br />
    <label>Country:</label>
    <br />
    <p class="text">@Model.Performer.PerformerCountry</p>
    <br />
    <label>Phone:</label>
    <br />
    <p class="text">@Model.Performer.PerformerPhone</p>
    <br />
    <label>Description:</label>
    <br />
    <p class="text">@Model.Performer.PerformerDescription</p>
    <br /> 

    <div class="btn-group">
        <a asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Performer.PerformerId" class="button">Go to the Band's comments</a>
        <a asp-action="GetMusic" asp-controller="Music" asp-route-id="@Model.Performer.PerformerId" class="button">"@Model.Performer.PerformerName" Music</a>
        <a asp-action="AddMusic" asp-controller="Music" asp-route-id="@Model.Performer.PerformerId" class="button">Add music</a>
        <a asp-action="AddVideo" asp-controller="Video" asp-route-id="@Model.Performer.PerformerId" class="button">Add video</a>
        <a asp-controller="Performer" asp-action="UpdatePerformer" asp-route-id="@Model.Performer.PerformerId" class="button">Edit performer</a>
        <a asp-action="GetVideo" asp-controller="Video" asp-route-id="@Model.Performer.PerformerId" class="button">"@Model.Performer.PerformerName" Videos</a>
        <a asp-action="Index" class="button"> Back to All performers</a>
    </div>
</body>
</html>

