@model BattleBands.Models.ApplicationPerformer


<h1>@Model.PerformerName</h1><br />

@if (Model.PerformerIsBand == true)
{
    <p>Група</p><br />
}
else
{
    <p>Соло</p><br />
}

<label>Жанр/стиль:</label><br />
<p>@Model.PerformerGenre</p><br />
<label>Emali:</label><br />
<p>@Model.PerformerEmail</p><br />
<label>Країна:</label><br />
<p>@Model.PerformerCountry</p><br />
<label>Телефон:</label><br />
<p>@Model.PerformerPhone</p><br />
<label>Біо:</label><br />
<p>@Model.PerformerDescription</p><br />
<a asp-action="AddVideo" asp-route-id="@Model.PerformerId">Add video</a>
<a asp-action="GetPerformerVideos" asp-route-id="@Model.PerformerId">Videos</a>



