@model BattleBands.Models.ApplicationPerformer

<h3>@Model.PerformerName</h3><br />

<label>Жанр/стиль:</label><br />
<p>@Model.PerformerGenre</p><br />
<label>Emali:</label><br />
<p>@Model.PerformerEmail</p><br />
<label>Країна:</label><br />
<p>@Model.PerformerCountry</p><br />
<label>Телефон:</label><br />
<p>@Model.PerformerPhone</p><br />
<label>Опис:</label><br />
<p>@Model.PerformerDescription</p><br />
<a asp-action="AddVideo" asp-route-id="@Model.PerformerId">Add video</a>
<a asp-action="GetPerformerVideos" asp-route-id="@Model.PerformerId">Videos</a>



