@model IEnumerable<BattleBands.Models.ApplicationModels.ApplicationPerformer>

@{
    ViewData["Title"] = "My performers";
}
<h3>My performers</h3>
<a asp-controller="Performer" asp-action="Index" class="btn btn-default">Back to all performers</a>
<div class="row">
    <div class="col-md-8">
        <section>
            <table class="table">
                @foreach (var band in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="ProfilePerformer" asp-route-id="@band.PerformerId">@band.PerformerName</a><br />
                            <b>Email - @band.PerformerEmail</b><br />
                            <b>Phone - @band.PerformerPhone</b><br />
                            @if (User.IsInRole("admin"))
                            {
                                <a asp-controller="Performer" asp-action="DeletePerformer" asp-route-id="@band.PerformerId" class="btn btn-default">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </section>
    </div>
</div>
