@{
    ViewData["Title"] = "Home page";
}
@model BattleBands.Models.RecentItems
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-fullPage/jquery.fullPage.css" />
        <link rel="stylesheet" href="~/css/Home/Home.css" />
    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-fullPage/jquery.fullPage.min.js"></script>
</head>
<body>

    <div id="fullpage" class="contents">
        <div class="section active" id="section0">
            <img src="~/images/Home/logo.png">
            <h1>
                Our project was created to help you find a lot of beautiful music.<br>
                Also you can find and created your personal events.
            </h1>
            <div>
                Scroll down to see more :) <img class="arrow_down" src="~/images/Home/down_arrow.png">
            </div>
        </div>
        <div class="section content performers" id="section1">
            <h1>In our site you can find or add a new performer. </h1>
            <div class="text-center">
                <img src="~/images/Home/band.jpg">
            </div>
            <span>You can go over to page with performers if you click on arrow</span>
            <a asp-controller="Performer" asp-action="Index"><img class="arrow_right" src="~/images/Home/down_arrow.png"></a>
        </div>
        <div class="section content events" id="section2">
            <h1>If you want find music events, such as concert or festival, or just add your personal event, you can do this now.</h1>
            <!--
            <div class="text-center">
                <img src="~/images/Home/events.jpg">
            </div>
            -->
            <span>Click the arrow to visit page with events</span>
            <a asp-controller="Event" asp-action="Index"><img class="arrow_right" src="~/images/Home/down_arrow.png"></a>
            <div class="last">
                <h1>Last Event</h1>
                <span>Performer: <a asp-controller="Performer" asp-action="ProfilePerformer" asp-route-id="@Model.Performer.PerformerId">@Model.Performer.PerformerName</a></span><br>
                <span>Contact: <a href="tel:@Model.Performer.PerformerPhone">@Model.Performer.PerformerPhone</a> | <a href="mailto:@Model.Performer.PerformerEmail">@Model.Performer.PerformerEmail</a></span><br />
                <span>Event: <a asp-controller="Event" asp-action="EventPage" asp-route-id="@Model.Event.EventId">@Model.Event.EventName</a></span><br>
                <span>Place: @Model.Event.EventPlace</span><br>
                <span>Time: @Model.Event.EventTime</span><br>
                <div class="navigation">
                    <div class="div-nav">
                        <img src="~/images/Home/down_arrow.png" class="pre" />
                    </div>
                    <div id="first" class="active">
                        <span class="description">@Model.Event.EventDescription</span>
                    </div>
                    <div id="second" class="dis">
                        <b>@Model.Video.VideoName</b><br />

                        <figure>
                            <iframe src="https://www.youtube.com/embed/@Model.Video.VideoReference" frameborder="0" allowfullscreen></iframe>
                        </figure>
                        <b>Description:</b> @Model.Video.VideoDescription<br />
                    </div>
                    <div id="third" class="dis">
                        <p>@Model.Music.Name</p>
                        <audio controls>
                            <source src="@Model.Music.Path" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="div-nav">
                        <img src="~/images/Home/down_arrow.png" class="nex" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section content music" id="section3">
            <h1>Also you can listen <a asp-area="" asp-controller="Music" asp-action="Index">audio</a> 
            and watching <a asp-controller="Video" asp-action="Index">video</a>, that performers have added.</h1>
            <div class="text-center">
                <img src="~/images/Home/music.jpg">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                sectionsColor: ['#7BAABE', '#7BAABE', '#7BAABE', '#7BAABE']
            });
        });

        $(document).ready(function () {
            var w = $(window).width();
            $(".body-content").css("width", w);
            $(".body-content").css("padding", 0);
        });
        var id = 1;
        $(".pre").click(function () {
            if (id == 1) {
                $("#first").removeClass("active");
                $("#first").addClass("dis");
                $("#third").addClass("active");
                $("#third").removeClass("dis");
                id = 3;
                return;
            }
            if (id == 3) {
                console.log(id);
                $("#third").removeClass("active");
                $("#third").addClass("dis");
                $("#second").addClass("active");
                $("#second").removeClass("dis");
                id = 2;
                return;
            }
            if (id == 2) {
                console.log(id);
                $("#second").removeClass("active");
                $("#second").addClass("dis");
                $("#first").addClass("active");
                $("#first").removeClass("dis");
                id = 1;
                return;
            }
        });

        $(".nex").click(function () {
            
            if (id == 1) {
                $("#first").removeClass("active");
                $("#first").addClass("dis");
                $("#second").addClass("active");
                $("#second").removeClass("dis");
                id = 2;
                return;
            }
            if (id == 3) {
                $("#third").removeClass("active");
                $("#third").addClass("dis");
                $("#first").addClass("active");
                $("#first").removeClass("dis");
                id = 1;
                return;
            }
            if (id == 2) {
                console.log(id);
                $("#second").removeClass("active");
                $("#second").addClass("dis");
                $("#third").addClass("active");
                $("#third").removeClass("dis");
                id = 3;
                return;
            }
        });
    </script>
</body>
</html>