@{
    ViewData["Title"] = "Home page";
}
@model BattleBands.Models.RecentItems
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Home/Home.css" />
    </environment>
</head>
<body>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="blocks">
                    <a asp-controller="Performer" asp-action="ProfilePerformer" asp-route-id="@Model.Performer.PerformerId">
                        <div class="block">
                            <img src="@Model.PerformerPath" class="img-thumbnail">
                            <p><b>@Model.Performer.PerformerName</b></p>
                            <p>@Model.Performer.PerformerGenre</p>
                            <p>@Model.Performer.PerformerPhone</p>
                        </div>
                    </a>
                    <a asp-controller="Event" asp-action="EventPage" asp-route-id="@Model.Event.EventId">
                        href до конкретної сторінки групи
                        <div class="block">
                            <img src="@Model.EventPath" class="img-thumbnail">
                            <p><b>@Model.Event.EventName</b></p>
                            <p>@Model.Event.EventPlace</p>
                            <p>@Model.Event.EventTime</p>
                        </div>
                    </a>
                    <div class="block">
                        <audio controls>
                            <source src="@Model.Music.Path" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                        <figure>
                            <iframe src="https://www.youtube.com/embed/@Model.Video.VideoReference" frameborder="0" allowfullscreen></iframe>
                        </figure>
                    @*<a href=""> href до конкретної сторінки групи
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine" >
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>*@
                </div>
            </div>
        </div>
    </section>
</body>
</html>