@{
    ViewData["Title"] = "Найближчі події";
}
@model IEnumerable<BattleBands.Models.ViewModels.EventViewModels.EventPageViewModel>
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Events/Events.css" />
    </environment>
</head>
<body>

    <div class="bg-1">
        <div class="container">
            <a asp-controller="Event" asp-action="CreateEvent" class="btn btn-default">Add event</a>
            <a asp-controller="Event" asp-action="MyEvents" class="btn btn-default">My events</a>

            @foreach (var evnt in Model)
            {
                <br />
            <div class="row">
                <div class="container text-center">
                    <div class="thumbnail">
                        <a asp-action="EventPage" asp-route-id="@evnt.Event.EventId"><strong>@evnt.Event.EventName</strong></a>
                        <p style="font-style: italic;">@evnt.Event.EventPlace @evnt.Event.EventTime </p>
                        @if (Url.Content(evnt.Logo.Path) != null)
                        { 
                            <p><img src="@Url.Content(evnt.Logo.Path)" height="320" width="320"></p>
                        }
                        <button class="btn">Buy Tickets</button>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Event" asp-action="DeleteEvent" asp-route-id ="@evnt.Event.EventId" class="btn btn-default">Delete</a><br />
                        }
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</body>
</html>
